@charset "UTF-8";

%oneline {
  overflow: hidden;
  text-overflow:ellipsis;
  display: -webkit-box;
  -webkit-line-clamp:1;
  -webkit-box-orient:vertical;
}

%twoline {
  overflow: hidden;
  text-overflow:ellipsis;
  display: -webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient:vertical;
}

.lang:lang(en), body:lang(en) {
  font-family: "Avenir Next", "Segoe UI", Roboto, sans-serif;
}

.lang:lang(zh), body:lang(zh) {
  font-family:"PingFang SC", "Source Han Sans SC", "Noto SansCJK SC", "Hiragino Sans GB", "Microsoft YaHei UI", sans-serif;
}

body, html {
  width: 100%;
  height: 100%;
  background-color: #fff;
  line-height: 1.375;
}

body {
  font-size: 16px;
  color:#333;
}

img {
  width: 100%;
  max-width: 768px;
  display: block;
  margin:0 auto;
  margin-bottom: 20px;

}



h1 {
  font-size: 2.5em;
  margin-top: 1.875em;
  margin-bottom: 0.25em;
  text-align: center;
}

h2 {
  font-size: 2em;
  margin-top: 1.625em;
  margin-bottom: 2.5em;
}

h3 {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 0.625em;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

p {
  margin-bottom: 10px;
}

em {
  font-weight: 700;
}

ul{
  padding-left: 30px;
  list-style: disc;
  margin-bottom: 10px;
  li{
    margin-bottom: 10px;
  }
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: .5em 10px;
  quotes: "“" "”" "‘" "’";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: .1em;
  margin-right: .25em;
  vertical-align: -.4em;
}

blockquote p {
  display: inline;
}

table{
  width: 100%;
  background-color: transparent;
  margin-bottom: 20px;
  th,td{
    padding: 0.5em;
    border:1px solid #ddd;
    line-height: 1.5;
  }
  th{
    font-weight: 700;
  }
  thead{
    th{
      vertical-align: bottom;
    }
  }
}

.hide {
  display: none;
}

a[href*='http'], a[href*='http']:active {
  color: #268bd2;
  font-style: italic;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  text-align: center;
  text-indent: 0;
}

body{
  display: flex;
  flex-flow:column;
  min-height: 100vh;
}
header{
  width: 100%;
  margin:0 auto;
  height: 100px;
  border-bottom:1px solid #f7f7f7;
}
main{
  flex:1;
}
footer{
  text-align: center;
  color:#333;
  margin-top: 30px;
}
nav{
  a{
    font-size: 20px;
    color:#333;
    text-decoration: none;
    margin-left: 20px;
  }
}
.header_nav{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100px;
  padding-bottom: 27px;
  box-sizing:border-box;
  display: flex;
  align-items:flex-end;
  justify-content:space-between;
}
.logo{
  width: 44px;
  height: 40px;
}

.index_banner{
  background-color: #051c14;
  width: 100%;
  margin:0 auto;
  background-position: center center;
  background-size: 100% auto;
  padding-top: 27.08333%;
  max-width: 1920px;
}

.articleList{
  width: 100%;
  max-width: 1200px;
  margin:0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content:space-around;
  padding:0;
  list-style: none;
  >li.article{
    width: 100%;
    max-width: 590px;
    margin-bottom: 40px;
    >a{
      display: block;
      text-decoration: none;
      color:inherit;
    }
    .article_pic{
      width: 100%;
      padding-top: 50.847458%;
      position: relative;
      img{
        width: 100%;
        position: absolute;
        top:0;
        left:0;
      }
    }
    .article_bottom{
      width: 100%;
      box-sizing:border-box;
      position: relative;
      margin-top: 10px;
      display: flex;
    }
    .article_date{
      padding:6px 15px;
      box-sizing:border-box;
      border:1px solid #e3e3e3;
      text-align: center;
      margin-right: 10px;
    }
    .article_title{
      @extend %oneline;
      font-size: 1.5em;
      color:#333;
      margin-bottom:6px;
    }
    .article_excerpt{
      @extend %twoline;
      font-size: 1.25em;
      color:#999;
      margin-bottom: 0;
    }
    .article_date_day{
      font-size: 2.5em;
      color:#333;
      margin-bottom: -6px;
    }
    .article_date_mon{
      font-size: 1.5em;
      color:#333;
    }
  }
  &:after{
    content: '';
    width: 100%;
    max-width: 590px;
  }
}

.post_content{
  width: 100%;
  max-width: 1000px;
  margin:0 auto;
}

@media screen and (max-width: 1200px) {
  .header_nav{
    padding:0 10px 27px;
  }
}

@media screen and (max-width: 1000px) {
  .post_content{
    padding:10px;
    box-sizing:border-box;
  }
}

@media screen and (max-width: 590px) {
  body{
    font-size: 12px;
  }
  .articleList{
    >li.article{
      margin:0 15px 10px;
    }
  }
}
