<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no,minimal-ui" />
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/reset.css">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/default.css">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/prism_Solarized_Light.css">
	<script type="text/javascript" src="{{ site.baseurl }}/js/zeptoWithFx.min.js"></script>
	<title>{{ page.title }}</title>
	
</head>
<body>
	<div class="header"></div>
	<div class="nav">
		<a href="{{ site.baseurl }}/index.html">Home</a>
	</div>
	<div class="aside"></div><div class="content">{{ content }}</div>
	<script type="text/javascript" src="{{ site.baseurl }}/js/prism.js"></script>
</body>
</html>