<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <meta description="{{ page.excerpt }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no,minimal-ui" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/reset.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/default.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/prism_Solarized_Light.css">
  <script type="text/javascript" src="{{ site.baseurl }}/js/zeptoWithFx.min.js"></script>
  <title>{{ page.title }}</title>
  
</head>
<body>
  <header>
    <div class="header_nav">
      <a href='{{ site.baseurl }}/' class="logo"><img src="{{ site.baseurl }}/images/logo.png" alt="29x"></a>
      <nav>
        <a href="{{ site.baseurl }}/">HOME</a>
        <a href="{{ site.baseurl }}/team.html">TEAM</a>
        <a href="{{ site.baseurl }}/work.html">WORKS</a>
        <div class="icon_nav">
          <span class="icon_nav_line" id="js_icon_nav_line_1"></span>
          <span class="icon_nav_line" id="js_icon_nav_line_2"></span>
          <span class="icon_nav_line" id="js_icon_nav_line_3"></span>
        </div>
        <div class="nav_mobile">
          <a href="{{ site.baseurl }}/">HOME</a>
          <a href="{{ site.baseurl }}/team.html">TEAM</a>
          <a href="{{ site.baseurl }}/work.html">WORKS</a>
        </div>
      </nav>
    </div>
  </header>
  <main>
    <div class="post_content">{{ content }}</div>
  </main>
  <footer>Designed by 29x-studio</footer>
  <script type="text/javascript" src="{{ site.baseurl }}/js/prism.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/js/index.js"></script>
</body>
</html>